
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
   } 


.header{
    height: 2cm;
    background-color: aquamarine;
    text-align: center;
   
}

#headerTitle{
    font-size: 1.5cm;
}